{% extends 'main/base.html' %}<!---->
{% load static %}<!---->
{% block title %} Contact {% endblock %}<!---->
{% block body %}

<section class="home-slider owl-carousel">
  <div
    class="slider-item bread-item"
    style="background-image: url('{% static 'main/images/bg_1.jpg' %}')"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p
            class="breadcrumbs"
            data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"
          >
            <span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
            <span>Blog</span>
          </p>
          <h1
            class="mb-3"
            data-scrollax=" properties: { translateY: '70%', opacity: .9}"
          >
            Contact Us
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<br /><br />
{% if request.GET.name %}
<center>
  <div class="container">
    <h2 class="bold">Thanks {{ request.GET.name }}</h2>
    <p>
      We confirm the reception of your request, you will get soon a feedback
    </p>
  </div>
</center>
{% endif %}

<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h4">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3">
        <p>
          <span>Address:</span> 198 West 21th Street, Suite 721 New York NY
          10016
        </p>
      </div>
      <div class="col-md-3">
        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
      </div>
      <div class="col-md-3">
        <p>
          <span>Email:</span>
          <a href="mailto:info@yoursite.com">info@yoursite.com</a>
        </p>
      </div>
      <div class="col-md-3">
        <p><span>Website</span> <a href="#">yoursite.com</a></p>
      </div>
    </div>
    <div class="row block-9">
      <div class="col-md-6 pr-md-5">
        <form method="post" action="{% url 'contact' %}">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Name"
              name="name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Email"
              name="email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Subject"
              name="subject"
            />
          </div>
          <div class="form-group">
            <textarea
              id=""
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Message"
              name="message"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Send Message"
              class="btn btn-primary py-3 px-5"
            />
          </div>
        </form>
      </div>

      <div class="col-md-6 google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12787.69297987249!2d2.9821872395507927!3d36.748413400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128fb1d1a06e6999%3A0x380a6151be7b3052!2sCabinet%20Cardiologie%20Dr%20Samy%20BOUGUESSA!5e0!3m2!1sen!2sdz!4v1713209677605!5m2!1sen!2sdz"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>

{% endblock %}
